.footer {
    background-color: rgba(0, 0, 0, 0.651);
    width: 1360px;
    height: 200px;
    position: absolute;
    margin-top: 140px;
}

div .footer .image {
    height: 180px;
    width: 234px;
    scale: 75%;
    border-style: hidden;
    position: relative;
}

.Navigation{
    position: absolute;
    margin-left: 225px;
    margin-top: 10vh;
}

.About{
    position: absolute;
    margin-left: 225px;
    margin-top: 10vh;
}

.itens{
    margin-left: 250px;
    align-items: center;
    color: #fff;
    display: list-item;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    /* cursor: pointer; */
}

.item{
    margin-left: 500px;
    align-items: center;
    color: #fff;
    display: list-item;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    /* cursor: pointer; */
}

.copy{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-left: 505px;
    font-size: small;
}

/* RESPONSIVO */

@media (max-width: 620px){
    .footer {
        background-color: rgba(0, 0, 0, 0.651);
        width: auto;
        height: 200px;
        position: absolute;
        margin-top: 140px;
    }
    
    div .footer .image {
        visibility: hidden;
    }
    
    .Navigation{
        position: absolute;
        align-items: center;
        margin-top: 10vh;
    }
    
    .About{
        position: absolute;
        margin-left: 1px;
        margin-top: 10vh;
    }
    
    .itens{
        /* margin-left: 250px; */
        align-items: center;
        color: #fff;
        display: list-item;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        text-decoration: none;
        /* cursor: pointer; */
    }
    
    .item{
        /* margin-left: 500px; */
        align-items: center;
        color: #fff;
        display: list-item;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        /* cursor: pointer; */
    }
    
    .copy{
        font-family: 'Poppins', sans-serif;
        color: #fff;
        margin-left: 505px;
        font-size: small;
    }
}